
.quicktabs_main.quicktabs-style-wkstabstyle{
    clear:both;
}
ul.quicktabs-tabs.quicktabs-style-wkstabstyle{
    margin:0 0 10px 0;
    padding: 0px 9px 0px 2px;
    font-size:1em;
    list-style: none;
    height:21px;
    background:transparent;
}
*html ul.quicktabs-tabs.quicktabs-style-wkstabstyle li{
    margin-bottom:-5px;
}
ul.quicktabs-tabs.quicktabs-style-wkstabstyle li{
    background: #61c523;
    border: 2px solid #61c523;
    border-radius: 10px;
    float: left;
    margin: 0 1px 0 0;
    padding: 0px;
}
ul.quicktabs-tabs.quicktabs-style-wkstabstyle li a{
    font:bold 12px/170% Verdana;
    font-size-adjust:none;
    display: block;
    margin: 0;
    padding:4px 12px 4px 12px;
    border-width: 0;
    font-weight:bold;
    text-decoration:none;
    background: transparent;
    color:#fff;
}
ul.quicktabs-tabs.quicktabs-style-wkstabstyle li:hover a{
    background:transparent;
    color:#fff; 
}
ul.quicktabs-tabs.quicktabs-style-wkstabstyle li:hover{

    border: 2px solid #155C15;
    background:#155C15;

}
ul.quicktabs-tabs.quicktabs-style-wkstabstyle li.active a,
ul.quicktabs-tabs.quicktabs-style-wkstabstyle li.active a:hover{
    background:transparent;
    color:#326301;
    border: 2px solid #155C15;
    border-radius: 10px;
}
ul.quicktabs-tabs.quicktabs-style-wkstabstyle li.active{
    border: none;
    background:url('images/active-t.png') 50% bottom no-repeat transparent;
    height: 39px;
}
ul.quicktabs-tabs.quicktabs-style-wkstabstyle li.active a{
    background:transparent;
    color:#155C15;
    border: 2px solid #155C15;
    border-radius: 10px;
}
